.weather-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-cards {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 400px;
    overflow-x: auto;
    background-color: #ececec;
}

.weather-cards > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;
}

.weather-selected-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    overflow: visible;
    background-color: #ececec;  
}

.weather-selected-card > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;  
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.forecast-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 60px; 
}

.forecast-header > h5 {
    color: #777;
    margin-top: 20px;
    margin-left: 40px;
}

.forecast > .table-container {
    margin: 30px;
    overflow-x: auto;
}

.forecast > .loading {
    width: 30%;
    text-align: center;
    margin: 50px;
}

.forecast > .error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #777;
    margin: 20px;
}

.forecast > .error > i {
    margin-right: 10px;
}

.forecast > .loading > p {
    margin: 0px;
    padding: 0px;
    color: #777;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.forecast > .loading > .progress {
    background-color: #a3d4f7 !important;
}

.forecast > .loading > .progress > .indeterminate {
    background-color: #0095ff !important;
}