<div class="weather-page-container">
  <div class="hide-on-small-only weather-cards">
      <div>
        <app-weather-card *ngFor="let city of cities; index as i; first as isFirst" (click)="selectCityCard(city)"
            [name]="city.name" 
            [description]="city.description" 
            [temperature]="city.temperature"
            [wind]="city.wind"
            [icon]="city.icon"
            [loading]="city.loading"
            [error]="city.error"
            [active]="city.selected">
        </app-weather-card>
      </div>
  </div>
  <div class="hide-on-med-and-up weather-selected-card">
      <div>
        <app-weather-card
            [name]="selectedCity.name" 
            [description]="selectedCity.description" 
            [temperature]="selectedCity.temperature"
            [wind]="selectedCity.wind"
            [icon]="selectedCity.icon"
            [loading]="selectedCity.loading"
            [error]="selectedCity.error"
            [active]="selectedCity.selected">
        </app-weather-card>
      </div>
  </div>
  <div class="forecast-header">
    <h5 class="hide-on-small-only"><span i18n="@@cityforecast">Forecast for city</span> {{selectedCity.name}}</h5>
    <h5 class="hide-on-med-and-up">Forecast</h5>
  </div>
  <div class="forecast">
    <div *ngIf="!loadingForecast && !forecastError" class="table-container">
      <app-forecast 
        [entries]="forecast">
      </app-forecast>
      <app-weather-barchart [entries]="forecast"></app-weather-barchart>
    </div>
    <div *ngIf="loadingForecast && !forecastError" class="loading">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <p i18n="@@loadingforecast">Loading forecast...</p>
    </div>
    <div *ngIf="forecastError" class="error">
        <i class="material-icons hide-on-small-only">error</i><p>Sorry but there was a problem contacting the server.  If you continue to see this message check your internet connection or contact your technical support team</p>
    </div>
  </div>
</div>

