<header>
    <nav>
        <div class="nav-wrapper">
          <ul class="left hide-on-med-and-up">
            <li (click)="openSideNav()"><a><i class="material-icons">menu</i></a></li>
          </ul>
          <a class="brand-logo app-logo"><i class="material-icons">cloud</i><span i18n="@@logo">Weather forecast</span></a>
          <ul class="right hide-on-small-only">
            <li (click)="refresh()"><a><i class="material-icons">refresh</i></a></li>
            <li><a><i class="material-icons">more_vert</i></a></li>
          </ul>
        </div>
    </nav>
    <app-weather-sidenav></app-weather-sidenav>
</header>
<main>
  <div>
      <!--<router-outlet></router-outlet>-->
      <app-weather></app-weather>
  </div>
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" i18n="@@company">Backbase</h5>
        <p class="grey-text text-lighten-4" i18n="@@appdescription">Frontend Developer Exercise 2.2</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text" i18n="@@weatherapi">Open Weather Data API</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://openweathermap.org">https://openweathermap.org</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span i18n="@@rights">© 2019 Backbase, All rights reserved.</span>
    <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE" i18n="@@mitlicense">MIT License</a>
    </div>
  </div>
</footer>
