div.row {
    margin-bottom: 0px;
}

.weather-card {
    width: 300px; 
    height: 350px;
    cursor: pointer;
}

.weather-card:hover {
    box-shadow: 0 0 5px 5px #a3d4f7;
}

.weather-card-active {
    box-shadow: 0 0 5px 5px #a3d4f7;
    /*height: 400px;*/
}

.weather-card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.weather-card > div > img {
    width: 150px; 
    height: 150px;
    margin: 20px 20px 40px 20px;
}

.weather-card > div > p {
    color: #777;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.weather-card > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-card > .content > .temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px 0px 0px 0px;
    padding: 0px;
}

.weather-card > .content > .wind {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.weather-card-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.weather-card-loader > div > div {
    border-color: #a3d4f7;
}