<div class="row">
    <div class="col s12 m7">
      <div class="card weather-card" [ngClass]="{'weather-card-active': active}">
        <div *ngIf="!loading" class="card-image">
          <img *ngIf="!error && icon" src="assets/icons/{{icon}}.svg">
          <img *ngIf="error || !icon" src="assets/icons/cloud.svg">
          <p class="card-title">{{name}}</p>
        </div>
        <div *ngIf="!loading && !error" class="content">
            <p *ngIf="temperature" class="temperature">{{temperature}} ºC</p>
            <p *ngIf="wind" class="wind"><strong i18n="@@wind">Wind: </strong> {{wind}} mph</p>
        </div>
        <div *ngIf="loading && !error" class="weather-card-loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="card-content">
          <p *ngIf="!loading && !error && description">( {{description}} )</p>
          <p *ngIf="!loading && error">( Server unavailable )</p>
        </div>
      </div>
    </div>
  </div>