th {
    min-width: 80px;
}

tr.day {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

th.day {
    text-align: left;
    color: #777;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

td {
    min-width: 80px;
}

.forecast {
    width: 100%;
}

.forecast img {
    width: 24px;
    height: 24px;
}