<table class="centered forecast">
  <thead>
    <tr class="day">
        <th *ngFor="let header of dayHeaders; index as i; first as isFirst" [colSpan]="dayColSpans[i]" class="day">{{header | date:'fullDate'}}</th>
    </tr>
    <tr>
        <th *ngFor="let header of timeHeaders; index as i; first as isFirst">{{header | date:'HH'}}h</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let icon of icons; index as i; first as isFirst"><img src="assets/icons/{{icon}}.svg"></td>
    </tr>
    <tr>
      <td *ngFor="let temperature of temperatures; index as i; first as isFirst">{{temperature}} ºC</td>
    </tr>
    <tr>
      <td *ngFor="let wind of winds; index as i; first as isFirst">{{wind}} mph</td>
    </tr>
  </tbody>
</table>
