<div class="chart">
  <div *ngIf="data && data.length > 0">
    <canvas baseChart
            [datasets]="data"
            [labels]="labels"
            [options]="options"
            [legend]="legend"
            [chartType]="type">
    </canvas>
  </div>
</div>