/* You can add global styles to this file, and also import other style files */
body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}*/

#toast-container {
    top: 70px !important;
    right: 50% !important;
    transform: translateX(50%) !important;
    -webkit-transform: translateX(50%) !important;
    -moz-transform: translateX(50%) !important;
    -ms-transform: translateX(50%) !important;
    -o-transform: translateX(50%) !important;
    pointer-events: none;
    text-align: center; 
}