<ul #sideNav class="sidenav">
  <li *ngIf="currentCity">
    <div class="current-city">
      <div>
        <img *ngIf="currentCity.icon" src="assets/icons/{{currentCity.icon}}.svg">
        <img *ngIf="!currentCity.icon" src="assets/icons/cloud.svg">
      </div>
      <div>
          <p>{{currentCity.name}} <span *ngIf="currentCity.temperature">({{currentCity.temperature}} ºC)</span></p>
      </div>
    </div>
  </li>
  <li><a><i class="material-icons">cloud</i><span i18n="@@logo">Weather forecast</span></a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader" i18n="@@othercities">Other cities</a></li>
  <li *ngFor="let city of cities; index as i; first as isFirst" (click)="selectCity(city)"><a class="waves-effect">{{city}}</a></li>
</ul>