.current-city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
}

.current-city > div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.current-city > div > img {
    width: 150px;
    height: 150px;
}

.current-city > div > p {

    color: #777;
    width: 100%;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    font-size: 24px;
}